@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,300;1,600;1,800&family=Pacifico&family=Permanent+Marker&family=Unbounded:wght@500;600;800&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}


:root{
	--font-primary: 'Open Sans', sans-serif;
	--font-secundary: 'Unbounded', cursive;
	--font-logo: 'Permanent Marker', cursive;
}



/*Header */

header{
	width: 100%;
	height: auto;
	display: flex;
	max-width: 1320px;
	margin: 10px auto;
	background:  linear-gradient(to right top, #df4f07, #df4f07, #eb6827, #b1005d, #90036b);
	justify-content: center;
	align-items: center;
}

.header-container{
	width: inherit;
	height: inherit;
	max-width: 1090px;
	display: flex;
}
.header-container .h-left{
	height: inherit;
	display: flex;
	align-items: center;
	flex: 1;
}

.header-container .h-left a{
	display: block;
	text-decoration: none;
}

.header-container .h-left a .logo {
	display: flex;
	flex-direction: column;
}

.header-container .h-left a .logo span{
	font-size: 35px;
	color: #fff;
	font-family: var(--font-logo);
	text-transform: uppercase;
	letter-spacing: 1px;
}

#m-left{
	margin-left: 10px;
}




.header-container .h-right{
	width: inherit;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-end;
	padding: 20px 0;
}


.header-container .h-right .h-text{
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	
}

.header-container .h-right .h-text span{
	color: #fff;
	font-family: var(--font-primary);
}

.header-container .h-right .h-r-b{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
.header-container .h-right .h-r-b span{
	color: #fff;
	font-family: var(--font-primary);
}








/*Banner */
.Banner{
	width: auto;
	height: auto;
}

.banner-area{
	width: inherit;
	max-width: 1320px;
	margin: auto;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.banner-area .banner-img,
.banner-area .banner-desc,
.news .new-area{
	width: 1090px;
}

.banner-area .banner-img{
	min-height: 500px;
	background-image:linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../images/banner.png');
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}

.banner-desc-info{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.banner-desc-info h2{
	font-family: var(--font-primary);
	font-size: 30px;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.banner-desc-info p{
	font-family: var(--font-primary);
	width: 75%;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 0 20px 0 0;
	color: #555;
}

.banner-desc-legend{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.banner-desc-legend .bar{
	width: 360px;
	height: 6px;
	background-image: url('../images/img1.png');
	background-size: cover;
	background-position: center;
	margin-top: 10px;
}


/*News */

.news{
	width: 100%;
	margin: 10px auto;
	max-width: 1090px;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.news .new-area{
	width: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}





.left-side .left-s-desc,
.right-side .right-s-desc{
	width: 80%;
	font-size: 22px;
	font-weight: bold;
	font-family: var(--font-primary);
	letter-spacing: 2px;
	margin: 10px 0;
}

.left-side .bar,
.right-side .bar{
	height: 5px;
	width: 260px;
	margin-top: 10px;
}
.left-side .bar{
	background-image: url('../images/img7.png');
	background-position: center;
	background-size: cover;
}

.right-side .bar{
	background-image: url('../images/img4.png');
	background-position: center;
	background-size: cover;
}


.left-side .left-s-image{
	background-image: url('../images/kobe.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.right-side .right-s-image{
	background-image: url('../images/img6.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}









/*Madarim */

.mandarim{
	width: inherit;
	max-width: 1320px;
	margin: 30px auto;
	background-color: rgb(246, 65, 5);
	display: flex;
	justify-content: space-around;
	padding: 30px 0;
}


/*footer */

footer{
	width: 100%;
	max-width: 1320px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90px;
}

footer span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
}



/*Floating */

.floating{
	width: 600px;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	align-items: flex-end;
	position: absolute;
	top: 0.6rem;
	right: 25rem;
}

.floating-flex{
	display: flex;
	flex-direction: column;
}

.icon-item{
	width: 50px;
	height: 50px;
	background-image: url('../images/img10.png');
	background-size: cover;
	background-position: center;
}

.floating-flex .icon-item:nth-child(1){
	width: 50px;
	height: 20px;
	background-image: url('../images/img9.png');
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}

.floating-flex .icon-item:nth-child(2){
	width: 120px;
	height: 120px;
	background-image: url('../images/img2.png');
	background-size: cover;
	background-position: top;
}



/*news icon */

.news-icon{
	width: 330px;
	height: auto;
	margin-bottom: 20px;
}

.news-icon-img{
	width: 100%;
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.news-icon-img img{
	width: 100%;
	height: 100%;
}

.news-title h4{
	font-family: var(--font-primary);
	font-size: 20px;
	color: #191919;
	margin-top: 10px;
}
.news-legend {
	margin: 10px 0;
}
.news-legend i{
	font-size: 12px;
	color: #555;
	font-family: var(--font-primary);
	font-weight: 500;
}

.news-icon .bar{
	background-image: url('../images/img4.png');
	background-size: cover;
	background-position: center;
	height: 4px;
	width: 80%;
}


.n-close{
	display: none;
}






/* Responsividade */


@media only screen and (max-device-width: 470px) and (min-device-width: 350px) {
	 /*header */

	 header{
		height: auto;
		padding: 0 10px;
		margin-top: 0;
	 }

	 

	 

	 .header-container .h-left a img{
		width: 120px;
	 }

	 /*Banner */

	 .Banner{
		width: calc(100% - 10px);
		display: flex;
		align-items: center;
		justify-content: center;
	 }

	 .banner-area .banner-img{
		width: calc(100% - 10px);
		min-height: 300px;
	 }

	 .banner-desc{
		width: calc(100% - 10px);
	 }

	 .banner-area .banner-img, .banner-area .banner-desc, .news .new-area{
		width: calc(100% - 10px);
	 }

	 .banner-desc-info h2{
		font-size: 18px;
		text-align: justify;
		letter-spacing: 0;
	 }

	 .banner-desc-info p {
		width: 100%;
		text-align: justify;
		letter-spacing: 0;
		font-size: 16px;
	 }

	 .banner-desc-legend .bar {
		width: calc(100% - 10px);
	 }

	 /*NEWS */
	 .news .new-area{
		display:flex;
		justify-content: center;
	 }

	

	 /*Madiram */

	 .mandarim{
		width: calc(100% - 10px)
	 }

	 .mandarim img{
		width: 300px;
		height: 50px;
	 }

	 /* floating */

	 .floating{
		top: 4rem;
		right: 2rem;
		width: calc(100% - 60px);
		justify-content: space-evenly;
	 }

	 .floating .icon-item{
		width: 30px;
		height: 30px;
	 }

	 .floating-flex .icon-item:nth-child(2){
		height: 40px;
		height: 40px;
	 }
	

	 /*footer*/

	 footer{
		width: calc(100% - 10px);
		height: auto;
	 }

	 footer span{
		font-size: 12px;
		font-family: var(--font-primary);
		text-align: center;
		margin-bottom: 10px;
	 }
}



@media only screen and (max-device-width: 912px) and (min-device-width: 535px) {
	/*header */

	header{
	   height: auto;
	   padding: 0 50px;
	   margin-top: 0;
	}

	

	

	.header-container .h-left a img{
	   width: 120px;
	}

	/*Banner */

	.Banner{
	   display: flex;
	   align-items: center;
	   justify-content: center;
	}

	.banner-area .banner-img{
	   width: calc(100% - 80px);
	   min-height: 400px;
	}

	.banner-desc{
	   width: calc(100% - 10px);
	}

	.banner-area .banner-img, .banner-area .banner-desc, .news .new-area{
	   width: calc(100% - 80px);
	}

	.banner-desc-info h2{
	   font-size: 18px;
	   text-align: justify;
	   letter-spacing: 0;
	}

	.banner-desc-info p {
	   width: 100%;
	   text-align: justify;
	   letter-spacing: 0;
	   font-size: 16px;
	}

	.banner-desc-legend .bar {
	   width: calc(100% - 10px);
	}

	/*NEWS */
	.news .new-area{
	   display:flex;
	   justify-content: space-evenly;
	}

   

	/*Madiram */

	.mandarim{
	   width: calc(100% - 10px)
	}

	.mandarim img{
	   width: 300px;
	   height: 50px;
	}

	/* floating */

	.floating{
	   top: 4rem;
	   right: 2rem;
	   width: calc(100% - 60px);
	   justify-content: space-evenly;
	}

	.floating .icon-item{
	   width: 30px;
	   height: 30px;
	}

	.floating-flex .icon-item:nth-child(2){
	   height: 40px;
	   height: 40px;
	}
   

	/*footer*/

	footer{
	   width: calc(100% - 10px);
	   height: auto;
	}

	footer span{
	   font-size: 12px;
	   font-family: var(--font-primary);
	   text-align: center;
	   margin-bottom: 10px;
	}
}